* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(43, 105, 53);
  --secondary-color: rgb(141, 119, 78);
  --tertiary-color: rgb(23, 5, 53);
  --secondary-active: #f3a847;
  --dark: #000000;
}

html,
body {
  height: 100%;
}
/***************************
*   HEADER  *
****************************/

.header {
  color: var(--secondary-active);
}

.navbar-brand {
  margin-left: 30px;
  margin-right: auto;
}

.nav {
  margin-right: 40px;
  
}

.nav-link {
  color: var(--secondary-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.03em;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--tertiary-color);
}

.nav-link:not(:focus):hover {
  color: var(--tertiary-color);
}

.nav-link:focus {
  color: var(--secondary-active);
}

/* .active {
  color: var(--secondary-active);
} */

/***************************
*   HERO  *
****************************/

.hero {
  background-image: url("https://github.com/jeffwjohn/Portfolio/blob/master/assets/images/JeffJohnston-img.png?raw=true");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 600px;
}

/***************************
*   BODY  *
****************************/

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: rgb(238, 238, 249);
}
section {
  /* display: flex; */
  color: var(--tertiary-color);
  width: 100%;
}

.section-title {
  /* border-bottom: 2px solid var(--tertiary-color); */
  padding: 100px 0px 10px 14px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

/***************************
*   BIO  *
****************************/

.bio-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 0 auto;
  justify-content: center;
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-bottom: 30px;
  margin: auto;
}

.bio-text {
  margin: 10px;
  margin-right: auto;
}

/***************************
*   PORTFOLIO  *
****************************/
.wrapper {
  padding-top: 50px;
  background-color: rgb(238, 238, 249);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
/* .img-container div:hover div::after {
  opacity: 1;
} */

figure {
  margin: 0;
  position: relative;
}

figure a:visited {
  text-decoration: none;
  color: var(--tertiary-color);
}

figure a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 1;
}

.card {
  /* background: #ECEFF1; */
  background: var(--primary-color);
  border-radius: 2px;
  height: 250px;
  margin: 5rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-position: top;
  background-size: contain;
}
.card > .img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-position: top;
  background-size: cover;
}

.card > .content {
  font-size: 1.4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-weight: bold;
  transition: color .1s;
  letter-spacing: 0.02em;
  text-align: center;
}

.card > .content > ul {
  list-style-type: none;
}

.card-img-top {
  cursor: pointer;
}

.list-group-item {
  color: var(--secondary-color);
  padding: 5px 0px 5px 0px;
  background-color: #999;
  transition: transform 250ms;
}

.list-group-item:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

li a, li div{
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.deployed {
  padding: 10px 0 10px 0px;
  background-color: var(--primary-color);
  text-align: center;
}

.app-name {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 250ms;
  text-align: center;
}

.app-name:hover {
  transform: translateY(-4px);
}

.github.social-card {
  color: white;
  transition: transform 250ms;
}

.social-card:hover {
  transform: translateY(-4px);
}

/***************************
*   RESUME  *
****************************/
.resume-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 10px auto;
  justify-content: left;
  padding-top: 40px;
}

.resume {
  margin: 20px 0 20px 0;
}

/***************************
*   CONTACT FORM  *
****************************/
.contact-wrapper {
  /* border: 1px solid red; */
  width: 90%;
  margin: 20px auto 20px auto;
  justify-content: left;
}
form {
  width: 40%;
  padding-top: 20px;
}

input {
  width: 20rem;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin-left: 5px;
  margin-top: 10px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

#message {
  margin-top: 10px;
}

textarea {
  width: 600px;
  height: 120px;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin-left: 5px;
  margin-top: 10px;
}

button {
  background: rgb(99, 172, 185);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding: 10px 15px;
}

button:hover {
  opacity: 0.5;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.img-button {
  padding: 0;
  margin: 0;
}
.contact {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--primary-color);
}

.contact-title {
  padding-top: 40px;
  margin-left: 7px;
  margin-bottom: 0;
}
.contact-h1 {
  line-height: 1.25;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 5px 0;
  /* width: 100%; */
}

/***************************
*   FOOTER  *
****************************/

/* Wrapper for page content to push down footer */
.main-content {
  min-height: calc(
    100vh - 220px
  ); /* Total viewport height - (height of navbar + height of footer) */
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

footer {
  border-top: 2px solid var(--tertiary-color);
}

.footer p {
  margin-bottom: 0;
}
.social-container {
  background: #eee;
  padding: 25px 50px;
  margin-bottom: 0;
}

a.social {
  margin: 0 2rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-8px);
}

a.github {
  color: black;
}

a.linkedin {
  color: rgb(39, 105, 190);
}

a.twitter {
  color: #49a1eb;
}

@media screen and (min-width: 1600px) {

.hero {
  background-position-y: -20px;
}

}

/***************************************/
/*     MEDIA QUERIES FOR TABLETS       */
/***************************************/

@media screen and (max-width: 1024px) {

/* Wrapper for page content to push down footer */
.main-content {
  min-height: calc(
    100vh - 180px
  ); /* Total viewport height - (height of navbar + height of footer) */
} 

}
/**************************************/
/* MEDIA QUERY FOR PHONES AND SMALLER */
/**************************************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar {
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  .navbar-brand {
    margin: 0;
    text-align: center;
  }

  .nav {
    margin: 0;
  }

  .hero {
    background-position-x: -30px;
  }

  .nav-link {
    font-size: 0.92rem;
  }

  .bio-text {
    text-align: justify;
  }

  .title {
    text-align: center;
    padding: 0;
  }

  .resume-wrapper {
    justify-content: center;
    padding: 0;
  }

  .form-wrapper {
    display: block;
    text-align: center;
  }

  form {
    padding: 0;
    display: inline-block;
    width: auto;
    margin: auto;
    text-align: left;
  }

  textarea {
    width: 20rem;
  }

  .submit {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }

  a.social {
    margin: 0 1rem;
  }
}

@media (max-width: 320px) {

  .hero {
    background-position-x: -65px;
  }

  a.social {
    margin: 0 0.9rem;
  }

  .nav {
    display: inline-block;
    overflow-wrap: normal;
 
  }
  .nav-link {
    font-size: 1.5rem;
  }

  .card {
    margin: 1rem;
  } 

  .form-wrapper{
    width: auto;
    margin: auto;
  }

  .resume-wrapper {
    justify-content: center;
    padding: 0;
    margin-left: 2rem;
  }
  
  .main-content {
    max-width: 320px; 
    overflow-x: scroll;
    max-zoom: 80%;
  } 
}
/*********************/
